# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Node
node_modules/
dist/
.env

# Flutter / Android
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.apk
*.aab
local.properties
